/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}
body {
  background-image: url(https://miro.medium.com/max/1000/1*RHQ7lpGDV_M3yWRa9DiR2g.png);
  background-repeat: no-repeat;
  background-position: center;
}
